body {
    box-sizing: border-box;
    margin: 0 auto;

   
}


main {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: 1050px; 
}





.background {
        grid-column: 1 / 13;
        background-image: url("../assets/images/sunny-day.jpg");
        background-repeat: no-repeat;

        
}


    img {
        position: relative;
        top: 500px;
        left: 420px;
        height: 538px;
        width: 630px;
    }




@media only screen and (max-width: 968px){

    .background {
        background-image: url("../assets/images/night.jpg");
        background-size: cover;
        grid-column: 1 / 13;
       
    }

    img {
        content: url("../assets/images/kitten-small.png");
        position: relative;
        top: 500px;
        left: 200px;
        height: 340px;
        width: 300px;
    }
        
            
        
}


@media only screen and (max-width: 568px){

    .background {
        background-image: url("../assets/images/dawn.png");
        background-repeat: no-repeat;
        background-size: cover;
        grid-column: 1 / 13;
    }


        img {
            content: url("../assets/images/kitten-large.png");
            position: relative;
            top: 600px;
            left: 120px;
            width: 350px;
            height: 300px;

        }
            
        
}